%h1 Tweet Streamers [#{@tweet_streamers.count}]
- @tweet_streamers.each do |tweet_streamer|
  .screen_name= tweet_streamer.screen_name
  .name=        tweet_streamer.name
  .address=     tweet_streamer.address
  .coordinates= tweet_streamer.coordinates
  = button_to('remove', tweet_streamer_path(tweet_streamer), method: :delete, action: :delete, class: :delete, confirm: "Delete #{tweet_streamer.screen_name}?")

%form.authorize-tweet-streamer{method: :POST, action: tweet_streamers_path}
  = token_tag
  %input{type: :text, name: :screen_name}
  %button{type: :submit} +
